#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.6rem;
  padding-inline: 3.2rem;
  height: 90px;

  h1 {
    font-size: 1.6rem;
    margin-block: 0;
  }
}
