.modal {
  background-color: rgba($black, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
    margin-bottom: 1.6rem;

    h5 {
      margin: 0;
    }

    .modal-button-close {
      background-color: transparent;
      border: 0;
      padding: 0;
    }
  }

  &-content {
    background-color: $white;
    max-width: 85%;
    width: 100%;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
  }

  &-body {
    .form-group-row {
      margin-inline: -0.8rem;

      .form-group {
        width: calc(50% - 1.6rem);
        margin-inline: 0.8rem;

        label {
          display: block;
          margin-bottom: 0.8rem;
        }
      }
    }
  }

  &-footer {
    padding-top: 1rem;
    border-top: 1px solid gray;
  }
}
