#login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  img {
    display: block;
    margin-inline: auto;
  }

  h1 {
    font-size: 3.2rem;
    text-align: center;
  }

  form {
    background-color: $white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
  }

  .redes-btn {
    text-align: center;

    h4 {
      text-align: center;
    }

    .facebook-btn {
      display: flex;
      align-items: center;
      background-color: $white;
      border: 1px solid $black;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      margin-inline: auto;

      img {
        margin-right: 0.8rem;
      }
    }
  }
}
