#publication-create {
  &-content {
    background-color: $white;
    height: calc(100% - 90px);
    padding-bottom: 3rem;

    h1 {
      font-size: 2rem;
      margin: 0;
      text-align: center;
      padding-block: 3rem;
    }

    .preview-image {
      display: block;
      margin-bottom: 30px;

      img {
        display: block;
        max-width: 100%;
        margin-inline: auto;
      }
    }
  }
}
