* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $c-1;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  padding-inline: 1.6rem;
  margin-inline: auto;
}

.form-group-row {
  display: flex;
}

.form-group {
  margin-bottom: 1.6rem;

  &.group-radio {
    margin-right: 16px;

    input {
      margin-right: 8px;
    }
  }

  &.error {
    .form-control {
      border-color: red;
    }
  }

  &.form-pass {
    position: relative;

    .eyePass {
      position: absolute;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;

      &.active {
        filter: brightness(0) saturate(100%) invert(80%) sepia(21%)
          saturate(6684%) hue-rotate(149deg) brightness(88%) contrast(87%);
      }
    }
  }
}

.form-control {
  color: $black;
  width: 100%;
  height: 40px;
  padding: 8px;
  border: 1px solid $black;
  border-radius: 10px;

  &:focus {
    box-shadow: none;
  }

  &:focus-visible {
    box-shadow: none;
    outline: initial;
  }
}

textarea.form-control {
  height: auto;
}

.button-center {
  text-align: center;
}

.btn {
  background-color: $c-2;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  color: $white;
  border: 0;
  padding: 0;
  border-radius: 2.4rem;
  padding: 1.2rem 4rem;

  &[disabled] {
    opacity: 0.5;
  }
}

.item-disabled {
  opacity: 0.4;
}

.slick-slide img {
  width: 100%;
}
